<% for (let i = 0; i < cards.length; i++) {%>
    
    <div id="card-body"
        <%if (cards[i].type === "normal") {%>
        style="background: black"  
        <%} else if (cards[i].type === "fighting") {%>
        style="background: pink"  

        <%} else if (cards[i].type === "ground") {%>
        style="background: brown"  

        <%} else if (cards[i].type === "steel") {%>
        style="background: grey"  

        <%} else if (cards[i].type === "fire") {%>
        style="background: red"  

        <%} else if (cards[i].type === "water") {%>
        style="background: linear-gradient(to bottom right, blue,lightblue,blue)"  

        <%} else if (cards[i].type === "grass") {%>
        style="background: green"  

        <%}else if (cards[i].type === "electric") {%>
        style="background: yellow"  

        <%}else if (cards[i].type === "psychic") {%>
        style="background: purple"  

        <%}%> >

        <div id="name">
        <a href="/cards/<%=cards[i]._id%>">    <%=cards[i].name%></a>
        </div>
        <span class="type">
            Type:
        </span>
        <div id="hp-box">
            <font size="2px">HP</font> <%=cards[i].hp%>
        </div>

        <div id="img-box-border">
            <div id="img-box">
                <img src="<%=cards[i].url%>">
            </div>
        </div>

        

        <div id="attack-box">
            <div id="attack"><%=cards[i].attack%></div>
            <div id="damage"><%=cards[i].damagae%></div>
        </div>

        <div id="weak-resist-box">
            <div id="weakness">Weakness</div><br/>
            <small><%=cards[i].weakness%></small>
            <div id="divider"></div>
            <div id="resistance">Resistance</div>
            <small><%=cards[i].resistance%></small>
        </div>

    </div>
<% } %>