<div id="card-body" 
    <%if (card.type === "normal") {%>
        style="background-image: url('/images/bg-normal.png')"  
        <%} else if (card.type === "fighting") {%>
        style="background-image: url('/images/fight-bg.png')" 

        <%} else if (card.type === "ground") {%>
        style="background-image: url('/images/ground-bg.png')"  

        <%} else if (card.type === "steel") {%>
        style="background-image: url('/images/metal-bg.png')" 

        <%} else if (card.type === "fire") {%>
        style="background-image: url('/images/bg-red.png')"  

        <%} else if (card.type === "water") {%>
        style="background-image: url('/images/blue-bg.png')" 

        <%} else if (card.type === "grass") {%>
        style="background-image: url('/images/grass-bg.png')"   

        <%}else if (card.type === "electric") {%>
        style="background-image: url('/images/lightening-bg.png')" 

        <%}else if (card.type === "psychic") {%>
        style="background-image: url('/images/purple-bg.png')" 

        <%}%> 
        >
        <div id="name">
            <%=card.name%>
        </div>
        <span class="type">
        <%if (card.type === "normal") {%>

        <%}%>
        <%=card.type%>
        </span>
        <div id="hp-box"><font size="2px">HP</font> <%=card.hp%>
        </div>
        <div id="img-box-border">
            <div id="img-box">
                <img src="<%=card.url%>">
            </div>
        </div>

        

        <div id="attack-box">
            <div id="attack"><%=card.attack%></div>
            <div id="damage"><%=card.damagae%></div>
        </div>

        <div id="weak-resist-box">
            <div id="weakness">Weakness</div><br/>
            <small><%=card.weakness%></small>
            <div id="divider"></div>
            <div id="resistance">Resistance</div>
            <small><%=card.resistance%></small>
        </div>
</div>