<% for (let i = 0; i < cards.length; i++) {%>
    <a href="/cards/<%=cards[i]._id%>"> 
        <div id="card-body"
            <%if (cards[i].type === "normal") {%>
            style="background-image: url('/images/bg-normal.png')"  
            <%} else if (cards[i].type === "fighting") {%>
            style="background-image: url('/images/fight-bg.png')" 

            <%} else if (cards[i].type === "steel") {%>
            style="background-image: url('/images/metal-bg.png')" 

            <%} else if (cards[i].type === "fire") {%>
            style="background-image: url('/images/bg-red.png')"  

            <%} else if (cards[i].type === "water") {%>
            style="background-image: url('/images/blue-bg.png')" 

            <%} else if (cards[i].type === "grass") {%>
            style="background-image: url('/images/grass-bg.png')"   

            <%}else if (cards[i].type === "electric") {%>
            style="background-image: url('/images/lightening-bg.png')"   

            <%}else if (cards[i].type === "psychic") {%>
            style="background-image: url('/images/purple-bg.png')" 

            <%}%> >

            <div id="name">
            <%=cards[i].name%>
            </div>
            <span class="type">
                <%if (cards[i].type === "normal") {%>
                    <img class="types" src="/images/normal.png">
                    <%} else if (cards[i].type === "fighting") {%>
                    <img class="types" src="/images/combat.png">

                    <%} else if (cards[i].type === "steel") {%>
                    <img class="types" src="/images/metal.png">

                    <%} else if (cards[i].type === "fire") {%>
                    <img class="types" src="/images/fire.png"> 

                    <%} else if (cards[i].type === "water") {%>
                    <img class="types" src="/images/water.png"> 

                    <%} else if (cards[i].type === "grass") {%>
                    <img class="types" src="/images/grass-type.png"> 

                    <%}else if (cards[i].type === "electric") {%>
                    <img class="types" src="/images/elektric.png"> 

                    <%}else if (cards[i].type === "psychic") {%>
                    <img class="types" src="/images/psy.png">
                <%}%> 
            </span>
            <div id="hp-box">
                <font size="2px">HP</font><%=cards[i].hp%>
            </div>

            <div id="img-box-border">
                <div id="img-box">
                    <img src="<%=cards[i].url%>">
                </div>
            </div>


       <div class="attack-box">
            <div class="attack"><%=cards[i].attack%></div>
            <div class="damage"><%=cards[i].damage%></div>
        </div>
            <div>    
                <div class="description"><%=cards[i].description%></div>
            </div>

        <div class="attack-box">
            <div class="attack"><%=cards[i].attack2%></div>
            <div class="damage"><%=cards[i].damage2%></div>
        </div>
            <div>
                <div class="description"><%=cards[i].description2%></div>
            </div>

        <div id="weak-resist-box">
            <div id="weakness">Weakness<br/>
                <small><%=cards[i].weakness%></small>
            </div>

            <div id="resistance">Resistance<br/>
                <small><%=cards[i].resistance%></small>
            </div>
        </div>
</div>

        </div>
    </a>
<% } %>