<div id="card-body" class="zoom"
    <%if (card.type === "normal") {%>
        style="background-image: url('/images/bg-normal.png')"  
        <%} else if (card.type === "fighting") {%>
        style="background-image: url('/images/fight-bg.png')" 

        <%} else if (card.type === "steel") {%>
        style="background-image: url('/images/metal-bg.png')" 

        <%} else if (card.type === "fire") {%>
        style="background-image: url('/images/bg-red.png')"  

        <%} else if (card.type === "water") {%>
        style="background-image: url('/images/blue-bg.png')" 

        <%} else if (card.type === "grass") {%>
        style="background-image: url('/images/grass-bg.png')"   

        <%}else if (card.type === "electric") {%>
        style="background-image: url('/images/lightening-bg.png')" 

        <%}else if (card.type === "psychic") {%>
        style="background-image: url('/images/purple-bg.png')" 

        <%}%> 
        >
        <div id="name">
            <%=card.name%>
        </div>
             
         <span class="type">
            <%if (card.type === "normal") {%>
                <img class="types" src="/images/normal.png">
                <%} else if (card.type === "fighting") {%>
                <img class="types" src="/images/combat.png">

                <%} else if (card.type === "steel") {%>
                <img class="types" src="/images/metal.png">

                <%} else if (card.type === "fire") {%>
                <img class="types" src="/images/fire.png"> 

                <%} else if (card.type === "water") {%>
                <img class="types" src="/images/water.png"> 

                <%} else if (card.type === "grass") {%>
                <img class="types" src="/images/grass-type.png"> 

                <%}else if (card.type === "electric") {%>
                <img class="types" src="/images/elektric.png"> 

                <%}else if (card.type === "psychic") {%>
                <img class="types" src="/images/psy.png">
            <%}%> 
        </span>

        <div id="hp-box">
            <font size="2px">HP</font> <%=card.hp%>
        </div>

        <div id="img-box-border">
            <div id="img-box">
                <img src="<%=card.url%>">
            </div>
        </div>

        <div class="attack-box">
            <div class="attack"><%=card.attack%></div>
            <div class="damage"><%=card.damage%></div>
        </div>

        <div class="attack-box">
            <div class="attack"><%=card.attack2%></div>
            <div class="damage"><%=card.damage2%></div>
        </div>

        <div id="weak-resist-box">
            <div id="weakness">Weakness<br/>
                <small><%=card.weakness%></small>
            </div>

            <div id="resistance">Resistance<br/>
                <small><%=card.resistance%></small>
            </div>
        </div>
</div>