</body>
<footer>
    <div id="menu">
        <div id="inner-menu">
                <%-include('../partials/minisample')%>
            <%-include('../partials/minisample')%>
            <%-include('../partials/minisample')%>
            <%-include('../partials/minisample')%>
            <%-include('../partials/minisample')%>
            <%-include('../partials/minisample')%>
            <%-include('../partials/minisample')%>
            <%-include('../partials/minisample')%>
            <%-include('../partials/minisample')%>
            <%-include('../partials/minisample')%>
            <%-include('../partials/minisample')%>
            <%-include('../partials/minisample')%>
            <%-include('../partials/minisample')%>
            <%-include('../partials/minisample')%>
            <%-include('../partials/minisample')%>
            <%-include('../partials/minisample')%>
            <%-include('../partials/minisample')%>
            <%-include('../partials/minisample')%>
        </div>
    </div>
</footer>
</html>