
<% for (let i = 0; i < cards.length; i++) {%>
    <a href="/cards/<%=cards[i]._id%>"> 
        <div class="m-click-down m-card-body zoomer"
            <%if (cards[i].type === "normal") {%>
            style="background-image: url('/images/types/bg-normal.png')"  
            <%} else if (cards[i].type === "fighting") {%>
            style="background-image: url('/images/types/fight-bg.png')" 
            <%} else if (cards[i].type === "steel") {%>
            style="background-image: url('/images/types/metal-bg.png')" 
            <%} else if (cards[i].type === "fire") {%>
            style="background-image: url('/images/types/bg-red.png')"  
            <%} else if (cards[i].type === "ground") {%>
            style="background-image: url('/images/types/ground-bg.png')"  
            <%} else if (cards[i].type === "dragon") {%>
            style="background-image: url('/images/types/dragon-bg.png')"  
            <%} else if (cards[i].type === "water") {%>
            style="background-image: url('/images/types/blue-bg.png')" 
            <%} else if (cards[i].type === "grass") {%>
            style="background-image: url('/images/types/grass-bg.png')"   
            <%}else if (cards[i].type === "electric") {%>
            style="background-image: url('/images/types/lightening-bg.png')"   
            <%}else if (cards[i].type === "psychic") {%>
            style="background-image: url('/images/types/purple-bg.png')" 
            <%}%> >
            <div id="m-name">
            <%=cards[i].name%>
            </div>
            <span class="type">
                <%if (cards[i].type === "normal") {%>
                    <img class="m-types" src="/images/types/normal.png">
                    <%} else if (cards[i].type === "fighting") {%>
                    <img class="m-types" src="/images/types/combat.png">
                    <%} else if (cards[i].type === "steel") {%>
                    <img class="m-types" src="/images/types/metal.png">
                    <%} else if (cards[i].type === "fire") {%>
                    <img class="m-types" src="/images/types/fire.png"> 
                    <%} else if (cards[i].type === "ground") {%>
                    <img class="m-types" src="/images/types/ground-type.png"> 
                    <%} else if (cards[i].type === "dragon") {%>
                    <img class="m-types" src="/images/types/dragon-type.png"> 
                    <%} else if (cards[i].type === "water") {%>
                    <img class="m-types" src="/images/types/water.png"> 
                    <%} else if (cards[i].type === "grass") {%>
                    <img class="m-types" src="/images/types/grass-type.png"> 
                    <%}else if (cards[i].type === "electric") {%>
                    <img class="m-types" src="/images/types/elektric.png"> 
                    <%}else if (cards[i].type === "psychic") {%>
                    <img class="m-types" src="/images/types/psy.png">
                <%}%> 
            </span>
            <div id="m-hp-box">
                <font size="1px">HP</font><%=cards[i].hp%>
            </div>
            <div id="m-img-box-border">
                <div id="m-img-box">
                    <img src="<%=cards[i].url%>">
                </div>
            </div>

<div id="m-yellow-bar"><div class="m-stats"><%=cards[i].stats%></div></div>

         <div class="m-attack-box">
            <div class="m-attackTypeParent">
            <div class="m-attackType">
                    <span>
                        <%if (cards[i].attackType1a === "normal") {%>
                                <img class="m-attackTypes" src="/images/types/normal.png">
                            <%} else if (cards[i].attackType1a === "fighting") {%>
                                <img class="m-attackTypes" src="/images/types/combat.png">
                            <%} else if (cards[i].attackType1a === "steel") {%>
                                <img class="m-attackTypes" src="/images/types/metal.png">
                            <%} else if (cards[i].attackType1a === "fire") {%>
                                <img class="m-attackTypes" src="/images/types/fire.png"> 
                            <%} else if (cards[i].attackType1a === "ground") {%>
                                <img class="m-attackTypes" src="/images/types/ground-type.png"> 
                            <%} else if (cards[i].attackType1a === "dragon") {%>
                                <img class="m-attackTypes" src="/images/types/dragon-type.png"> 
                            <%} else if (cards[i].attackType1a === "water") {%>
                                <img class="m-attackTypes" src="/images/types/water.png"> 
                            <%} else if (cards[i].attackType1a === "grass") {%>
                                <img class="m-attackTypes" src="/images/types/grass-type.png"> 
                            <%}else if (cards[i].attackType1a === "electric") {%>
                                <img class="m-attackTypes" src="/images/types/elektric.png"> 
                            <%}else if (cards[i].attackType1a === "psychic") {%>
                                <img class="m-attackTypes" src="/images/types/psy.png">
                        <%}%> 
                    </span>
                    <span class="m-attackType">
                        <%if (cards[i].attackType1b === "normal") {%>
                                <img class="m-attackTypes" src="/images/types/normal.png">
                            <%} else if (cards[i].attackType1b === "fighting") {%>
                                <img class="m-attackTypes" src="/images/types/combat.png">
                            <%} else if (cards[i].attackType1b === "steel") {%>
                                <img class="m-attackTypes" src="/images/types/metal.png">
                            <%} else if (cards[i].attackType1b === "fire") {%>
                                <img class="m-attackTypes" src="/images/types/fire.png"> 
                            <%} else if (cards[i].attackType1b === "ground") {%>
                                <img class="m-attackTypes" src="/images/types/ground-type.png"> 
                            <%} else if (cards[i].attackType1b === "dragon") {%>
                                <img class="m-attackTypes" src="/images/types/dragon-type.png"> 
                            <%} else if (cards[i].attackType1b === "water") {%>
                                <img class="m-attackTypes" src="/images/types/water.png"> 
                            <%} else if (cards[i].attackType1b === "grass") {%>
                                <img class="m-attackTypes" src="/images/types/grass-type.png"> 
                            <%}else if (cards[i].attackType1b === "electric") {%>
                                <img class="m-attackTypes" src="/images/types/elektric.png"> 
                            <%}else if (cards[i].attackType1b === "psychic") {%>
                                <img class="m-attackTypes" src="/images/types/psy.png">
                        <%}%> 
                    </span>
                    <span class="m-attackType">
                        <%if (cards[i].attackType1c === "normal") {%>
                                <img class="m-attackTypes" src="/images/types/normal.png">
                            <%} else if (cards[i].attackType1c === "fighting") {%>
                                <img class="m-attackTypes" src="/images/types/combat.png">
                            <%} else if (cards[i].attackType1c === "steel") {%>
                                <img class="m-attackTypes" src="/images/types/metal.png">
                            <%} else if (cards[i].attackType1c === "fire") {%>
                                <img class="m-attackTypes" src="/images/types/fire.png"> 
                            <%} else if (cards[i].attackType1c === "ground") {%>
                                <img class="m-attackTypes" src="/images/types/ground-type.png"> 
                            <%} else if (cards[i].attackType1c === "dragon") {%>
                                <img class="m-attackTypes" src="/images/types/dragon-type.png"> 
                            <%} else if (cards[i].attackType1c === "water") {%>
                                <img class="m-attackTypes" src="/images/types/water.png"> 
                            <%} else if (cards[i].attackType1c === "grass") {%>
                                <img class="m-attackTypes" src="/images/types/grass-type.png"> 
                            <%}else if (cards[i].attackType1c === "electric") {%>
                                <img class="m-attackTypes" src="/images/types/elektric.png"> 
                            <%}else if (cards[i].attackType1c === "psychic") {%>
                                <img class="m-attackTypes" src="/images/types/psy.png">
                        <%}%> 
                    </span>
                    <span class="m-attackType">
                        <%if (cards[i].attackType1d === "normal") {%>
                                <img class="m-attackTypes" src="/images/types/normal.png">
                            <%} else if (cards[i].attackType1d === "fighting") {%>
                                <img class="m-attackTypes" src="/images/types/combat.png">    
                            <%} else if (cards[i].attackType1d === "steel") {%>
                                <img class="m-attackTypes" src="/images/types/metal.png"> 
                            <%} else if (cards[i].attackType1d === "fire") {%>
                                <img class="m-attackTypes" src="/images/types/fire.png">  
                            <%} else if (cards[i].attackType1d === "ground") {%>
                                <img class="m-attackTypes" src="/images/types/ground-type.png">   
                            <%} else if (cards[i].attackType1d === "dragon") {%>
                                <img class="m-attackTypes" src="/images/types/dragon-type.png">   
                            <%} else if (cards[i].attackType1d === "water") {%>
                                <img class="m-attackTypes" src="/images/types/water.png">     
                            <%} else if (cards[i].attackType1d === "grass") {%>
                                <img class="m-attackTypes" src="/images/types/grass-type.png">    
                            <%}else if (cards[i].attackType1d === "electric") {%>
                                <img class="m-attackTypes" src="/images/types/elektric.png">  
                            <%}else if (cards[i].attackType1d === "psychic") {%>
                                <img class="m-attackTypes" src="/images/types/psy.png">
                        <%}%> 
                    </span>
            </div>
            </div>
            <div class="m-attack"><%=cards[i].attack%></div>
            <div class="m-damage"><%=cards[i].damage%></div>
        </div>
            <div>    
                <div class="m-description"><%=cards[i].description%></div>
            </div>

        <div class="m-attack-box2">
        <div class="m-attackTypeParent">
            <div class="m-attackType">
                    <span>
                        <%if (cards[i].attackType2a === "normal") {%>
                                <img class="m-attackTypes" src="/images/types/normal.png">
                            <%} else if (cards[i].attackType2a === "fighting") {%>
                                <img class="m-attackTypes" src="/images/types/combat.png">
                            <%} else if (cards[i].attackType2a === "steel") {%>
                                <img class="m-attackTypes" src="/images/types/metal.png">
                            <%} else if (cards[i].attackType2a === "fire") {%>
                                <img class="m-attackTypes" src="/images/types/fire.png"> 
                            <%} else if (cards[i].attackType2a === "ground") {%>
                                <img class="m-attackTypes" src="/images/types/ground-type.png"> 
                            <%} else if (cards[i].attackType2a === "dragon") {%>
                                <img class="m-attackTypes" src="/images/types/dragon-type.png"> 
                            <%} else if (cards[i].attackType2a === "water") {%>
                                <img class="m-attackTypes" src="/images/types/water.png"> 
                            <%} else if (cards[i].attackType2a === "grass") {%>
                                <img class="m-attackTypes" src="/images/types/grass-type.png"> 
                            <%}else if (cards[i].attackType2a === "electric") {%>
                                <img class="m-attackTypes" src="/images/types/elektric.png"> 
                            <%}else if (cards[i].attackType2a === "psychic") {%>
                                <img class="m-attackTypes" src="/images/types/psy.png">
                        <%}%> 
                    </span>
                    <span class="m-attackType">
                        <%if (cards[i].attackType2b === "normal") {%>
                                <img class="m-attackTypes" src="/images/types/normal.png">
                            <%} else if (cards[i].attackType2b === "fighting") {%>
                                <img class="m-attackTypes" src="/images/types/combat.png">
                            <%} else if (cards[i].attackType2b === "steel") {%>
                                <img class="m-attackTypes" src="/images/types/metal.png">
                            <%} else if (cards[i].attackType2b === "fire") {%>
                                <img class="m-attackTypes" src="/images/types/fire.png"> 
                            <%} else if (cards[i].attackType2b === "ground") {%>
                                <img class="m-attackTypes" src="/images/types/ground-type.png"> 
                            <%} else if (cards[i].attackType2b === "dragon") {%>
                                <img class="m-attackTypes" src="/images/types/dragon-type.png"> 
                            <%} else if (cards[i].attackType2b === "water") {%>
                                <img class="m-attackTypes" src="/images/types/water.png"> 
                            <%} else if (cards[i].attackType2b === "grass") {%>
                                <img class="m-attackTypes" src="/images/types/grass-type.png"> 
                            <%}else if (cards[i].attackType2b === "electric") {%>
                                <img class="m-attackTypes" src="/images/types/elektric.png"> 
                            <%}else if (cards[i].attackType2b === "psychic") {%>
                                <img class="m-attackTypes" src="/images/types/psy.png">
                        <%}%> 
                    </span>
                    <span class="m-attackType">
                        <%if (cards[i].attackType2c === "normal") {%>
                                <img class="m-attackTypes" src="/images/types/normal.png">
                            <%} else if (cards[i].attackType2c === "fighting") {%>
                                <img class="m-attackTypes" src="/images/types/combat.png">
                            <%} else if (cards[i].attackType2c === "steel") {%>
                                <img class="m-attackTypes" src="/images/types/metal.png">
                            <%} else if (cards[i].attackType2c === "fire") {%>
                                <img class="m-attackTypes" src="/images/types/fire.png"> 
                            <%} else if (cards[i].attackType2c === "ground") {%>
                                <img class="m-attackTypes" src="/images/types/ground-type.png"> 
                            <%} else if (cards[i].attackType2c === "dragon") {%>
                                <img class="m-attackTypes" src="/images/types/dragon-type.png"> 
                            <%} else if (cards[i].attackType2c === "water") {%>
                                <img class="m-attackTypes" src="/images/types/water.png"> 
                            <%} else if (cards[i].attackType2c === "grass") {%>
                                <img class="m-attackTypes" src="/images/types/grass-type.png"> 
                            <%}else if (cards[i].attackType2c === "electric") {%>
                                <img class="m-attackTypes" src="/images/types/elektric.png"> 
                            <%}else if (cards[i].attackType2c === "psychic") {%>
                                <img class="m-attackTypes" src="/images/types/psy.png">
                        <%}%> 
                    </span>
                    <span class="m-attackType">
                        <%if (cards[i].attackType2d === "normal") {%>
                                <img class="m-attackTypes" src="/images/types/normal.png">
                            <%} else if (cards[i].attackType2d === "fighting") {%>
                                <img class="m-attackTypes" src="/images/types/combat.png">    
                            <%} else if (cards[i].attackType2d === "steel") {%>
                                <img class="m-attackTypes" src="/images/types/metal.png"> 
                            <%} else if (cards[i].attackType2d === "fire") {%>
                                <img class="m-attackTypes" src="/images/types/fire.png">  
                            <%} else if (cards[i].attackType2d === "ground") {%>
                                <img class="m-attackTypes" src="/images/types/ground-type.png">   
                            <%} else if (cards[i].attackType2d === "dragon") {%>
                                <img class="m-attackTypes" src="/images/types/dragon-type.png">   
                            <%} else if (cards[i].attackType2d === "water") {%>
                                <img class="m-attackTypes" src="/images/types/water.png">     
                            <%} else if (cards[i].attackType2d === "grass") {%>
                                <img class="m-attackTypes" src="/images/types/grass-type.png">    
                            <%}else if (cards[i].attackType2d === "electric") {%>
                                <img class="m-attackTypes" src="/images/types/elektric.png">  
                            <%}else if (cards[i].attackType2d === "psychic") {%>
                                <img class="m-attackTypes" src="/images/types/psy.png">
                        <%}%> 
                    </span>
                </div>
                </div>
                <div class="m-attack"><%=cards[i].attack2%></div>
                <div class="m-damage"><%=cards[i].damage2%></div>

                <div class="descript-container">
                    <div class="m-description2"><%=cards[i].description2%></div>
                </div>
            </div>


            <div id="m-weak-resist-box">
                <div id="m-weakness">Weakness<br/>
                    <small><%=cards[i].weakness%></small>
                </div>
                <div id="m-resistance">Resistance<br/>
                    <small><%=cards[i].resistance%></small>
                </div>

                <div id="m-bottom-box"><%=cards[i].boxBottom%></div>
            </div>
        </div>
    </a>
<% } %>