<a href="/cards/<%=randomCard.id%>"> 
<<<<<<< HEAD
        <div class="card-body click-down"
            <%if (randomCard.type === "normal") {%>
            style="background-image: url('/images/bg-normal.png')"  
            <%} else if (randomCard.type === "fighting") {%>
            style="background-image: url('/images/fight-bg.png')" 
            <%} else if (randomCard.type === "steel") {%>
            style="background-image: url('/images/metal-bg.png')" 
            <%} else if (randomCard.type === "fire") {%>
            style="background-image: url('/images/bg-red.png')"  
            <%} else if (randomCard.type === "ground") {%>
            style="background-image: url('/images/ground-bg.png')"  
            <%} else if (randomCard.type === "dragon") {%>
            style="background-image: url('/images/dragon-bg.png')"  
            <%} else if (randomCard.type === "water") {%>
            style="background-image: url('/images/blue-bg.png')" 
            <%} else if (randomCard.type === "grass") {%>
            style="background-image: url('/images/grass-bg.png')"   
            <%}else if (randomCard.type === "electric") {%>
            style="background-image: url('/images/lightening-bg.png')"   
            <%}else if (randomCard.type === "psychic") {%>
            style="background-image: url('/images/purple-bg.png')" 
            <%}%> >
            <div id="name">
=======
 <div class="card-body zoom"
    <%if (randomCard.type === "normal") {%>
            style="background-image: url('/images/types/bg-normal.png')"  
        <%} else if (randomCard.type === "fighting") {%>
            style="background-image: url('/images/types/fight-bg.png')" 
        <%} else if (randomCard.type === "steel") {%>
            style="background-image: url('/images/types/metal-bg.png')" 
        <%} else if (randomCard.type === "fire") {%>
            style="background-image: url('/images/types/bg-red.png')"  
        <%} else if (randomCard.type === "ground") {%>
            style="background-image: url('/images/types/ground-bg.png')"  
        <%} else if (randomCard.type === "dragon") {%>
            style="background-image: url('/images/types/dragon-bg.png')"  
        <%} else if (randomCard.type === "water") {%>
            style="background-image: url('/images/types/blue-bg.png')" 
        <%} else if (randomCard.type === "grass") {%>
            style="background-image: url('/images/types/grass-bg.png')"   
        <%}else if (randomCard.type === "electric") {%>
            style="background-image: url('/images/types/lightening-bg.png')" 
        <%}else if (randomCard.type === "psychic") {%>
            style="background-image: url('/images/types/purple-bg.png')" 
                <%}else if (randomCard.type === "poison") {%>
            style="background-image: url('/images/types/poison-bg.png')" 
                <%}else if (randomCard.type === "dark") {%>
            style="background-image: url('/images/types/dark-bg.png')" 
                <%}else if (randomCard.type === "ice") {%>
            style="background-image: url('/images/types/ice-bg.png')" 
                <%}else if (randomCard.type === "fairy") {%>
            style="background-image: url('/images/types/fairy-bg.png')" 
                <%}else if (randomCard.type === "rock") {%>
            style="background-image: url('/images/types/rock-bg.png')" 
                <%}else if (randomCard.type === "bug") {%>
            style="background-image: url('/images/types/bug-bg.png')" 
                <%}else if (randomCard.type === "flying") {%>
            style="background-image: url('/images/types/flying-bg.png')" 
                <%}else if (randomCard.type === "ghost") {%>
            style="background-image: url('/images/types/ghost-bg.png')"     
        <%}%> 
        >
        <div id="name">
>>>>>>> master
            <%=randomCard.name%>
        </div>
             
         <span class="type">
            <%if (randomCard.type === "normal") {%>
                    <img class="types" src="/images/types/normal.png">
                <%} else if (randomCard.type === "fighting") {%>
                    <img class="types" src="/images/types/combat.png">
                <%} else if (randomCard.type === "steel") {%>
                    <img class="types" src="/images/types/metal.png">
                <%} else if (randomCard.type === "fire") {%>
                    <img class="types" src="/images/types/fire.png"> 
                <%} else if (randomCard.type === "ground") {%>
                    <img class="types" src="/images/types/ground-type.png"> 
                <%} else if (randomCard.type === "dragon") {%>
                    <img class="types" src="/images/types/dragon-type.png"> 
                <%} else if (randomCard.type === "water") {%>
                    <img class="types" src="/images/types/water.png"> 
                <%} else if (randomCard.type === "grass") {%>
                    <img class="types" src="/images/types/grass-type.png"> 
                <%}else if (randomCard.type === "electric") {%>
                    <img class="types" src="/images/types/elektric.png"> 
                <%}else if (randomCard.type === "psychic") {%>
                    <img class="types" src="/images/types/psy.png">
                <%}else if (randomCard.type === "poison") {%>
                    <img class="types" src="/images/types/poison-type.png">
                <%}else if (randomCard.type === "bug") {%>
                    <img class="types" src="/images/types/bug-type.png">
                <%}else if (randomCard.type === "flying") {%>
                    <img class="types" src="/images/types/flying-type.png">
                <%}else if (randomCard.type === "dark") {%>
                    <img class="types" src="/images/types/dark-type.png">
                <%}else if (randomCard.type === "ice") {%>
                    <img class="types" src="/images/types/ice-type.png">
                <%}else if (randomCard.type === "rock") {%>
                    <img class="types" src="/images/types/rock-type.png">
                <%}else if (randomCard.type === "fairy") {%>
                    <img class="types" src="/images/types/fairy-type.png">    
            <%}%> 
        </span>

        <div id="hp-box">
            <font size="2px">HP</font><%=randomCard.hp%>
        </div>

        <div id="img-box-border">
            <div id="img-box">
                <img src="<%=randomCard.url%>">
            </div>
        </div>

<div id="yellow-bar"><div class="stats"><%=randomCard.stats%></div></div>

        <div class="attack-box">
            <div class="attackTypeParent">
            <div class="attackType">
                    <span>
                        <%if (randomCard.attackType1a === "normal") {%>
                                <img class="attackTypes" src="/images/types/normal.png">
                            <%} else if (randomCard.attackType1a === "fighting") {%>
                                <img class="attackTypes" src="/images/types/combat.png">
                            <%} else if (randomCard.attackType1a === "steel") {%>
                                <img class="attackTypes" src="/images/types/metal.png">
                            <%} else if (randomCard.attackType1a === "fire") {%>
                                <img class="attackTypes" src="/images/types/fire.png"> 
                            <%} else if (randomCard.attackType1a === "ground") {%>
                                <img class="attackTypes" src="/images/types/ground-type.png"> 
                            <%} else if (randomCard.attackType1a === "dragon") {%>
                                <img class="attackTypes" src="/images/types/dragon-type.png"> 
                            <%} else if (randomCard.attackType1a === "water") {%>
                                <img class="attackTypes" src="/images/types/water.png"> 
                            <%} else if (randomCard.attackType1a === "grass") {%>
                                <img class="attackTypes" src="/images/types/grass-type.png"> 
                            <%}else if (randomCard.attackType1a === "electric") {%>
                                <img class="attackTypes" src="/images/types/elektric.png"> 
                            <%}else if (randomCard.attackType1a === "psychic") {%>
                                <img class="attackTypes" src="/images/types/psy.png">
                            <%}else if (randomCard.attackType1a === "bug") {%>
                                <img class="attackTypes" src="/images/types/bug-type.png">
                            <%}else if (randomCard.attackType1a === "ice") {%>
                                <img class="attackTypes" src="/images/types/ice-type.png">  
                            <%}else if (randomCard.attackType1a === "rock") {%>
                                <img class="attackTypes" src="/images/types/rock-type.png">
                            <%}else if (randomCard.attackType1a === "dark") {%>
                                <img class="attackTypes" src="/images/types/dark-type.png">   
                            <%}else if (randomCard.attackType1a === "fairy") {%>
                                <img class="attackTypes" src="/images/types/fairy-type.png"> 
                            <%}else if (randomCard.attackType1a === "ghost") {%>
                                <img class="attackTypes" src="/images/types/ghost-type.png"> 
                            <%}else if (randomCard.attackType1a === "flying") {%>
                                <img class="attackTypes" src="/images/types/flying-type.png"> 
                        <%}%> 
                    </span>
                    <span class="attackType">
                        <%if (randomCard.attackType1b === "normal") {%>
                                <img class="attackTypes" src="/images/types/normal.png">
                            <%} else if (randomCard.attackType1b === "fighting") {%>
                                <img class="attackTypes" src="/images/types/combat.png">
                            <%} else if (randomCard.attackType1b === "steel") {%>
                                <img class="attackTypes" src="/images/types/metal.png">
                            <%} else if (randomCard.attackType1b === "fire") {%>
                                <img class="attackTypes" src="/images/types/fire.png"> 
                            <%} else if (randomCard.attackType1b === "ground") {%>
                                <img class="attackTypes" src="/images/types/ground-type.png"> 
                            <%} else if (randomCard.attackType1b === "dragon") {%>
                                <img class="attackTypes" src="/images/types/dragon-type.png"> 
                            <%} else if (randomCard.attackType1b === "water") {%>
                                <img class="attackTypes" src="/images/types/water.png"> 
                            <%} else if (randomCard.attackType1b === "grass") {%>
                                <img class="attackTypes" src="/images/types/grass-type.png"> 
                            <%}else if (randomCard.attackType1b === "electric") {%>
                                <img class="attackTypes" src="/images/types/elektric.png"> 
                            <%}else if (randomCard.attackType1b === "psychic") {%>
                                <img class="attackTypes" src="/images/types/psy.png">
                            <%}else if (randomCard.attackType1b === "bug") {%>
                                <img class="attackTypes" src="/images/types/bug-type.png">
                            <%}else if (randomCard.attackType1b === "ice") {%>
                                <img class="attackTypes" src="/images/types/ice-type.png">  
                            <%}else if (randomCard.attackType1b === "rock") {%>
                                <img class="attackTypes" src="/images/types/rock-type.png">
                            <%}else if (randomCard.attackType1b === "dark") {%>
                                <img class="attackTypes" src="/images/types/dark-type.png">   
                            <%}else if (randomCard.attackType1b === "fairy") {%>
                                <img class="attackTypes" src="/images/types/fairy-type.png"> 
                            <%}else if (randomCard.attackType1b === "ghost") {%>
                                <img class="attackTypes" src="/images/types/ghost-type.png"> 
                            <%}else if (randomCard.attackType1b === "flying") {%>
                                <img class="attackTypes" src="/images/types/flying-type.png"> 


                        <%}%> 
                    </span>
                    <span class="attackType">
                        <%if (randomCard.attackType1c === "normal") {%>
                                <img class="attackTypes" src="/images/types/normal.png">
                            <%} else if (randomCard.attackType1c === "fighting") {%>
                                <img class="attackTypes" src="/images/types/combat.png">
                            <%} else if (randomCard.attackType1c === "steel") {%>
                                <img class="attackTypes" src="/images/types/metal.png">
                            <%} else if (randomCard.attackType1c === "fire") {%>
                                <img class="attackTypes" src="/images/types/fire.png"> 
                            <%} else if (randomCard.attackType1c === "ground") {%>
                                <img class="attackTypes" src="/images/types/ground-type.png"> 
                            <%} else if (randomCard.attackType1c === "dragon") {%>
                                <img class="attackTypes" src="/images/types/dragon-type.png"> 
                            <%} else if (randomCard.attackType1c === "water") {%>
                                <img class="attackTypes" src="/images/types/water.png"> 
                            <%} else if (randomCard.attackType1c === "grass") {%>
                                <img class="attackTypes" src="/images/types/grass-type.png"> 
                            <%}else if (randomCard.attackType1c === "electric") {%>
                                <img class="attackTypes" src="/images/types/elektric.png"> 
                            <%}else if (randomCard.attackType1c === "psychic") {%>
                                <img class="attackTypes" src="/images/types/psy.png">
                            <%}else if (randomCard.attackType1c === "bug") {%>
                                <img class="attackTypes" src="/images/types/bug-type.png">
                            <%}else if (randomCard.attackType1c === "ice") {%>
                                <img class="attackTypes" src="/images/types/ice-type.png">  
                            <%}else if (randomCard.attackType1c === "rock") {%>
                                <img class="attackTypes" src="/images/types/rock-type.png">
                            <%}else if (randomCard.attackType1c === "dark") {%>
                                <img class="attackTypes" src="/images/types/dark-type.png">   
                            <%}else if (randomCard.attackType1c === "fairy") {%>
                                <img class="attackTypes" src="/images/types/fairy-type.png"> 
                            <%}else if (randomCard.attackType1c === "ghost") {%>
                                <img class="attackTypes" src="/images/types/ghost-type.png"> 
                            <%}else if (randomCard.attackType1c === "flying") {%>
                                <img class="attackTypes" src="/images/types/flying-type.png">  
                        <%}%> 
                    </span>
                    <span class="attackType">
                        <%if (randomCard.attackType1d === "normal") {%>
                                <img class="attackTypes" src="/images/types/normal.png">
                            <%} else if (randomCard.attackType1d === "fighting") {%>
                                <img class="attackTypes" src="/images/types/combat.png">    
                            <%} else if (randomCard.attackType1d === "steel") {%>
                                <img class="attackTypes" src="/images/types/metal.png"> 
                            <%} else if (randomCard.attackType1d === "fire") {%>
                                <img class="attackTypes" src="/images/types/fire.png">  
                            <%} else if (randomCard.attackType1d === "ground") {%>
                                <img class="attackTypes" src="/images/types/ground-type.png">   
                            <%} else if (randomCard.attackType1d === "dragon") {%>
                                <img class="attackTypes" src="/images/types/dragon-type.png">   
                            <%} else if (randomCard.attackType1d === "water") {%>
                                <img class="attackTypes" src="/images/types/water.png">     
                            <%} else if (randomCard.attackType1d === "grass") {%>
                                <img class="attackTypes" src="/images/types/grass-type.png">    
                            <%}else if (randomCard.attackType1d === "electric") {%>
                                <img class="attackTypes" src="/images/types/elektric.png">  
                            <%}else if (randomCard.attackType1d === "psychic") {%>
                                <img class="attackTypes" src="/images/types/psy.png">
                            <%}else if (randomCard.attackType1d === "bug") {%>
                                <img class="attackTypes" src="/images/types/bug-type.png">
                            <%}else if (randomCard.attackType1d === "ice") {%>
                                <img class="attackTypes" src="/images/types/ice-type.png">  
                            <%}else if (randomCard.attackType1d === "rock") {%>
                                <img class="attackTypes" src="/images/types/rock-type.png">
                            <%}else if (randomCard.attackType1d === "dark") {%>
                                <img class="attackTypes" src="/images/types/dark-type.png">   
                            <%}else if (randomCard.attackType1d === "fairy") {%>
                                <img class="attackTypes" src="/images/types/fairy-type.png"> 
                            <%}else if (randomCard.attackType1d === "ghost") {%>
                                <img class="attackTypes" src="/images/types/ghost-type.png"> 
                            <%}else if (randomCard.attackType1d === "flying") {%>
                                <img class="attackTypes" src="/images/types/flying-type.png">                                                                                                                                       
                        <%}%> 
                    </span>
            </div>
            </div>
            
            <div class="attack"><%=randomCard.attack%></div>
            <div class="damage"><%=randomCard.damage%></div>
        </div>
            <div>    
                <div class="description"><%=randomCard.description%></div>
            </div>

        <div class="attack-box2">
            <div class="attackTypeParent">
            <div class="attackType">
                    <span>
                        <%if (randomCard.attackType2a === "normal") {%>
                                <img class="attackTypes" src="/images/types/normal.png">
                            <%} else if (randomCard.attackType2a === "fighting") {%>
                                <img class="attackTypes" src="/images/types/combat.png">
                            <%} else if (randomCard.attackType2a === "steel") {%>
                                <img class="attackTypes" src="/images/types/metal.png">
                            <%} else if (randomCard.attackType2a === "fire") {%>
                                <img class="attackTypes" src="/images/types/fire.png"> 
                            <%} else if (randomCard.attackType2a === "ground") {%>
                                <img class="attackTypes" src="/images/types/ground-type.png"> 
                            <%} else if (randomCard.attackType2a === "dragon") {%>
                                <img class="attackTypes" src="/images/types/dragon-type.png"> 
                            <%} else if (randomCard.attackType2a === "water") {%>
                                <img class="attackTypes" src="/images/types/water.png"> 
                            <%} else if (randomCard.attackType2a === "grass") {%>
                                <img class="attackTypes" src="/images/types/grass-type.png"> 
                            <%}else if (randomCard.attackType2a === "electric") {%>
                                <img class="attackTypes" src="/images/types/elektric.png"> 
                            <%}else if (randomCard.attackType2a === "psychic") {%>
                                <img class="attackTypes" src="/images/types/psy.png">
                            <%}else if (randomCard.attackType2a === "bug") {%>
                                <img class="attackTypes" src="/images/types/bug-type.png">
                            <%}else if (randomCard.attackType2a === "ice") {%>
                                <img class="attackTypes" src="/images/types/ice-type.png">  
                            <%}else if (randomCard.attackType2a === "rock") {%>
                                <img class="attackTypes" src="/images/types/rock-type.png">
                            <%}else if (randomCard.attackType2a === "dark") {%>
                                <img class="attackTypes" src="/images/types/dark-type.png">   
                            <%}else if (randomCard.attackType2a === "fairy") {%>
                                <img class="attackTypes" src="/images/types/fairy-type.png"> 
                            <%}else if (randomCard.attackType2a === "ghost") {%>
                                <img class="attackTypes" src="/images/types/ghost-type.png"> 
                            <%}else if (randomCard.attackType2a === "flying") {%>
                                <img class="attackTypes" src="/images/types/flying-type.png"> 
                        <%}%> 
                    </span>
                    <span class="attackType">
                        <%if (randomCard.attackType2b === "normal") {%>
                                <img class="attackTypes" src="/images/types/normal.png">
                            <%} else if (randomCard.attackType2b === "fighting") {%>
                                <img class="attackTypes" src="/images/types/combat.png">
                            <%} else if (randomCard.attackType2b === "steel") {%>
                                <img class="attackTypes" src="/images/types/metal.png">
                            <%} else if (randomCard.attackType2b === "fire") {%>
                                <img class="attackTypes" src="/images/types/fire.png"> 
                            <%} else if (randomCard.attackType2b === "ground") {%>
                                <img class="attackTypes" src="/images/types/ground-type.png"> 
                            <%} else if (randomCard.attackType2b === "dragon") {%>
                                <img class="attackTypes" src="/images/types/dragon-type.png"> 
                            <%} else if (randomCard.attackType2b === "water") {%>
                                <img class="attackTypes" src="/images/types/water.png"> 
                            <%} else if (randomCard.attackType2b === "grass") {%>
                                <img class="attackTypes" src="/images/types/grass-type.png"> 
                            <%}else if (randomCard.attackType2b === "electric") {%>
                                <img class="attackTypes" src="/images/types/elektric.png"> 
                            <%}else if (randomCard.attackType2b === "psychic") {%>
                                <img class="attackTypes" src="/images/types/psy.png">
                            <%}else if (randomCard.attackType2b === "bug") {%>
                                <img class="attackTypes" src="/images/types/bug-type.png">
                            <%}else if (randomCard.attackType2b === "ice") {%>
                                <img class="attackTypes" src="/images/types/ice-type.png">  
                            <%}else if (randomCard.attackType2b === "rock") {%>
                                <img class="attackTypes" src="/images/types/rock-type.png">
                            <%}else if (randomCard.attackType2b === "dark") {%>
                                <img class="attackTypes" src="/images/types/dark-type.png">   
                            <%}else if (randomCard.attackType2b === "fairy") {%>
                                <img class="attackTypes" src="/images/types/fairy-type.png"> 
                            <%}else if (randomCard.attackType2b === "ghost") {%>
                                <img class="attackTypes" src="/images/types/ghost-type.png"> 
                            <%}else if (randomCard.attackType2b === "flying") {%>
                                <img class="attackTypes" src="/images/types/flying-type.png"> 
                        <%}%> 
                    </span>
                    <span class="attackType">
                        <%if (randomCard.attackType2c === "normal") {%>
                                <img class="attackTypes" src="/images/types/normal.png">
                            <%} else if (randomCard.attackType2c === "fighting") {%>
                                <img class="attackTypes" src="/images/types/combat.png">
                            <%} else if (randomCard.attackType2c === "steel") {%>
                                <img class="attackTypes" src="/images/types/metal.png">
                            <%} else if (randomCard.attackType2c === "fire") {%>
                                <img class="attackTypes" src="/images/types/fire.png"> 
                            <%} else if (randomCard.attackType2c === "ground") {%>
                                <img class="attackTypes" src="/images/types/ground-type.png"> 
                            <%} else if (randomCard.attackType2c === "dragon") {%>
                                <img class="attackTypes" src="/images/types/dragon-type.png"> 
                            <%} else if (randomCard.attackType2c === "water") {%>
                                <img class="attackTypes" src="/images/types/water.png"> 
                            <%} else if (randomCard.attackType2c === "grass") {%>
                                <img class="attackTypes" src="/images/types/grass-type.png"> 
                            <%}else if (randomCard.attackType2c === "electric") {%>
                                <img class="attackTypes" src="/images/types/elektric.png"> 
                            <%}else if (randomCard.attackType2c === "psychic") {%>
                                <img class="attackTypes" src="/images/types/psy.png">
                            <%}else if (randomCard.attackType2c === "bug") {%>
                                <img class="attackTypes" src="/images/types/bug-type.png">
                            <%}else if (randomCard.attackType2c === "ice") {%>
                                <img class="attackTypes" src="/images/types/ice-type.png">  
                            <%}else if (randomCard.attackType2c === "rock") {%>
                                <img class="attackTypes" src="/images/types/rock-type.png">
                            <%}else if (randomCard.attackType2c === "dark") {%>
                                <img class="attackTypes" src="/images/types/dark-type.png">   
                            <%}else if (randomCard.attackType2c === "fairy") {%>
                                <img class="attackTypes" src="/images/types/fairy-type.png"> 
                            <%}else if (randomCard.attackType2c === "ghost") {%>
                                <img class="attackTypes" src="/images/types/ghost-type.png"> 
                            <%}else if (randomCard.attackType2c === "flying") {%>
                                <img class="attackTypes" src="/images/types/flying-type.png"> 
                        <%}%> 
                    </span>
                    <span class="attackType">
                        <%if (randomCard.attackType2d === "normal") {%>
                                <img class="attackTypes" src="/images/types/normal.png">
                            <%} else if (randomCard.attackType2d === "fighting") {%>
                                <img class="attackTypes" src="/images/types/combat.png">    
                            <%} else if (randomCard.attackType2d === "steel") {%>
                                <img class="attackTypes" src="/images/types/metal.png"> 
                            <%} else if (randomCard.attackType2d === "fire") {%>
                                <img class="attackTypes" src="/images/types/fire.png">  
                            <%} else if (randomCard.attackType2d === "ground") {%>
                                <img class="attackTypes" src="/images/types/ground-type.png">   
                            <%} else if (randomCard.attackType2d === "dragon") {%>
                                <img class="attackTypes" src="/images/types/dragon-type.png">   
                            <%} else if (randomCard.attackType2d === "water") {%>
                                <img class="attackTypes" src="/images/types/water.png">     
                            <%} else if (randomCard.attackType2d === "grass") {%>
                                <img class="attackTypes" src="/images/types/grass-type.png">    
                            <%}else if (randomCard.attackType2d === "electric") {%>
                                <img class="attackTypes" src="/images/types/elektric.png">  
                            <%}else if (randomCard.attackType2d === "psychic") {%>
                                <img class="attackTypes" src="/images/types/psy.png">
                            <%}else if (randomCard.attackType2d === "bug") {%>
                                <img class="attackTypes" src="/images/types/bug-type.png">
                            <%}else if (randomCard.attackType2d === "ice") {%>
                                <img class="attackTypes" src="/images/types/ice-type.png">  
                            <%}else if (randomCard.attackType2d === "rock") {%>
                                <img class="attackTypes" src="/images/types/rock-type.png">
                            <%}else if (randomCard.attackType2d === "dark") {%>
                                <img class="attackTypes" src="/images/types/dark-type.png">   
                            <%}else if (randomCard.attackType2d === "fairy") {%>
                                <img class="attackTypes" src="/images/types/fairy-type.png"> 
                            <%}else if (randomCard.attackType2d === "ghost") {%>
                                <img class="attackTypes" src="/images/types/ghost-type.png"> 
                            <%}else if (randomCard.attackType2d === "flying") {%>
                                <img class="attackTypes" src="/images/types/flying-type.png"> 
                        <%}%> 
                    </span>
            </div>
            </div>
            <div class="attack"><%=randomCard.attack2%></div>
            <div class="damage"><%=randomCard.damage2%></div>
        </div>
            <div>
                <div class="description"><%=randomCard.description2%></div>
            </div>

        <div id="weak-resist-box">
            <div id="weakness">Weakness<br/>
                <small><%=randomCard.weakness%></small>
            </div>

            <div id="resistance">Resistance<br/>
                <small><%=randomCard.resistance%></small>
            </div>

            <div id="bottom-box"><%=randomCard.boxBottom%></div>
            
        </div>
</div>
    </a>