
<div id="menu">
    <div id="inner-menu">
        <%-include('../partials/minicards')%>
        <%-include('../partials/minisample')%>
        <%-include('../partials/minisample')%>
        <%-include('../partials/minisample')%>
        <%-include('../partials/minisample')%>
        <%-include('../partials/minisample')%>
        <%-include('../partials/minisample')%>
        <%-include('../partials/minisample')%>
        <%-include('../partials/minisample')%>
        <%-include('../partials/minisample')%>
        <%-include('../partials/minisample')%>
        <%-include('../partials/minisample')%>
        <%-include('../partials/minisample')%>
        <%-include('../partials/minisample')%>
        <%-include('../partials/minisample')%>
        <%-include('../partials/minisample')%>
        <%-include('../partials/minisample')%>
        <%-include('../partials/minisample')%>
    </div>
</div>
<footer>
<h4>Pokémon is a registered trademark of Nintendo, Creatures, Game Freak and The Pokémon Company. PokeGen is not affiliated with, endorsed, sponsored, or specifically approved by Nintendo, Creatures, Game Freak or The Pokémon Company.</h4>

</footer>
<script src="/app.js"></script>
</body>
</html>