    
<% for (let i = 0; i < user.cards.length; i++) {%>
    <div id="card-body"
        <%if (user.cards[i].type === "normal") {%>
        style="background-image: url('/images/bg-normal.png')"  
        <%} else if (user.cards[i].type === "fighting") {%>
        style="background-image: url('/images/fight-bg.png')" 

        <%} else if (user.cards[i].type === "ground") {%>
        style="background-image: url('/images/ground-bg.png')"  

        <%} else if (user.cards[i].type === "steel") {%>
        style="background-image: url('/images/metal-bg.png')" 

        <%} else if (user.cards[i].type === "fire") {%>
        style="background-image: url('/images/bg-red.png')"  

        <%} else if (user.cards[i].type === "water") {%>
        style="background-image: url('/images/blue-bg.png')" 

        <%} else if (user.cards[i].type === "grass") {%>
        style="background-image: url('/images/grass-bg.png')"   

        <%}else if (user.cards[i].type === "electric") {%>
         style="background-image: url('/images/lightening-bg.png')"   

        <%}else if (user.cards[i].type === "psychic") {%>
        style="background-image: url('/images/purple-bg.png')" 

        <%}%> >

        <div id="name">
        <a href="/cards/<%=user.cards[i]._id%>">    <%=user.cards[i].name%></a>
        </div>
        <span class="type">
            Type:
        </span>
        <div id="hp-box">
            <font size="2px">HP</font> <%=user.cards[i].hp%>
        </div>

        <div id="img-box-border">
            <div id="img-box">
                <img src="<%=user.cards[i].url%>">
            </div>
        </div>

        

        <div id="attack-box">
            <div id="attack"><%=user.cards[i].attack%></div>
            <div id="damage"><%=user.cards[i].damagae%></div>
        </div>

        <div id="weak-resist-box">
            <div id="weakness">Weakness</div><br/>
            <small><%=user.cards[i].weakness%></small>
            <div id="divider"></div>
            <div id="resistance">Resistance</div>
            <small><%=user.cards[i].resistance%></small>
        </div>

    </div>
<% } %>