<% for (let i = user.cards.length -1; i >= 0; i--) {%>
    <%if (user.cards[i].favorite) {%>
        <a href="/cards/<%=user.cards[i]._id%>"> 
<div class="card-body"
    <%if (user.cards[i].type === "normal") {%>
            style="background-image: url('/images/types/bg-normal.png')"  
        <%} else if (user.cards[i].type === "fighting") {%>
            style="background-image: url('/images/types/fight-bg.png')" 
        <%} else if (user.cards[i].type === "steel") {%>
            style="background-image: url('/images/types/metal-bg.png')" 
        <%} else if (user.cards[i].type === "fire") {%>
            style="background-image: url('/images/types/bg-red.png')"  
        <%} else if (user.cards[i].type === "ground") {%>
            style="background-image: url('/images/types/ground-bg.png')"  
        <%} else if (user.cards[i].type === "dragon") {%>
            style="background-image: url('/images/types/dragon-bg.png')"  
        <%} else if (user.cards[i].type === "water") {%>
            style="background-image: url('/images/types/blue-bg.png')" 
        <%} else if (user.cards[i].type === "grass") {%>
            style="background-image: url('/images/types/grass-bg.png')"   
        <%}else if (user.cards[i].type === "electric") {%>
            style="background-image: url('/images/types/lightening-bg.png')" 
        <%}else if (user.cards[i].type === "psychic") {%>
            style="background-image: url('/images/types/purple-bg.png')" 
        <%}else if (user.cards[i].type === "poison") {%>
            style="background-image: url('/images/types/poison-bg.png')" 
        <%}else if (user.cards[i].type === "dark") {%>
            style="background-image: url('/images/types/dark-bg.png')" 
        <%}else if (user.cards[i].type === "ice") {%>
            style="background-image: url('/images/types/ice-bg.png')" 
        <%}else if (user.cards[i].type === "fairy") {%>
            style="background-image: url('/images/types/fairy-bg.png')" 
        <%}else if (user.cards[i].type === "rock") {%>
            style="background-image: url('/images/types/rock-bg.png')" 
        <%}else if (user.cards[i].type === "bug") {%>
            style="background-image: url('/images/types/bug-bg.png')" 
        <%}else if (user.cards[i].type === "flying") {%>
            style="background-image: url('/images/types/flying-bg.png')" 
        <%}else if (user.cards[i].type === "ghost") {%>
            style="background-image: url('/images/types/ghost-bg.png')"     
        <%}%> 
        >
        <div id="name">
            <%=user.cards[i].name%>
        </div>
             
         <span class="type">
            <%if (user.cards[i].type === "normal") {%>
                    <img src="/images/types/normal.png">
                <%} else if (user.cards[i].type === "fighting") {%>
                    <img src="/images/types/combat.png">
                <%} else if (user.cards[i].type === "steel") {%>
                    <img src="/images/types/metal.png">
                <%} else if (user.cards[i].type === "fire") {%>
                    <img src="/images/types/fire.png"> 
                <%} else if (user.cards[i].type === "ground") {%>
                    <img src="/images/types/ground-type.png"> 
                <%} else if (user.cards[i].type === "dragon") {%>
                    <img src="/images/types/dragon-type.png"> 
                <%} else if (user.cards[i].type === "water") {%>
                    <img src="/images/types/water.png"> 
                <%} else if (user.cards[i].type === "grass") {%>
                    <img src="/images/types/grass-type.png"> 
                <%}else if (user.cards[i].type === "electric") {%>
                    <img src="/images/types/elektric.png"> 
                <%}else if (user.cards[i].type === "psychic") {%>
                    <img src="/images/types/psy.png">
                <%}else if (user.cards[i].type === "poison") {%>
                    <img src="/images/types/poison-type.png">
                <%}else if (user.cards[i].type === "ghost") {%>
                    <img src="/images/types/ghost-type.png">
                <%}else if (user.cards[i].type === "bug") {%>
                    <img src="/images/types/bug-type.png">
                <%}else if (user.cards[i].type === "flying") {%>
                    <img src="/images/types/flying-type.png">
                <%}else if (user.cards[i].type === "dark") {%>
                    <img src="/images/types/dark-type.png">
                <%}else if (user.cards[i].type === "ice") {%>
                    <img src="/images/types/ice-type.png">
                <%}else if (user.cards[i].type === "rock") {%>
                    <img src="/images/types/rock-type.png">
                <%}else if (user.cards[i].type === "fairy") {%>
                    <img src="/images/types/fairy-type.png">    
            <%}%> 
        </span>

        <div id="hp-box">
            <font size="2px">HP</font><%=user.cards[i].hp%>
        </div>

        <div id="img-box-border">
            <div id="img-box">
                <img src="<%=user.cards[i].url%>">
            </div>
        </div>

        <div id="yellow-bar">
            <div class="stats"><%=user.cards[i].stats%></div>
        </div>

        <div class="attack-box">
            <div class="attack-container">
            
                    <span class="attack-types">
                        <%if (user.cards[i].attackType1a === "normal") {%>
                                <img src="/images/types/normal.png">
                            <%} else if (user.cards[i].attackType1a === "fighting") {%>
                                <img src="/images/types/combat.png">
                            <%} else if (user.cards[i].attackType1a === "steel") {%>
                                <img src="/images/types/metal.png">
                            <%} else if (user.cards[i].attackType1a === "fire") {%>
                                <img src="/images/types/fire.png"> 
                            <%} else if (user.cards[i].attackType1a === "ground") {%>
                                <img src="/images/types/ground-type.png"> 
                            <%} else if (user.cards[i].attackType1a === "dragon") {%>
                                <img src="/images/types/dragon-type.png"> 
                            <%} else if (user.cards[i].attackType1a === "water") {%>
                                <img src="/images/types/water.png"> 
                            <%} else if (user.cards[i].attackType1a === "grass") {%>
                                <img src="/images/types/grass-type.png"> 
                            <%}else if (user.cards[i].attackType1a === "poison") {%>
                                <img src="/images/types/poison-type.png"> 
                            <%}else if (user.cards[i].attackType1a === "electric") {%>
                                <img src="/images/types/elektric.png"> 
                            <%}else if (user.cards[i].attackType1a === "psychic") {%>
                                <img src="/images/types/psy.png">
                            <%}else if (user.cards[i].attackType1a === "bug") {%>
                                <img src="/images/types/bug-type.png">
                            <%}else if (user.cards[i].attackType1a === "ice") {%>
                                <img src="/images/types/ice-type.png">  
                            <%}else if (user.cards[i].attackType1a === "rock") {%>
                                <img src="/images/types/rock-type.png">
                            <%}else if (user.cards[i].attackType1a === "dark") {%>
                                <img src="/images/types/dark-type.png">   
                            <%}else if (user.cards[i].attackType1a === "fairy") {%>
                                <img src="/images/types/fairy-type.png"> 
                            <%}else if (user.cards[i].attackType1a === "ghost") {%>
                                <img src="/images/types/ghost-type.png"> 
                            <%}else if (user.cards[i].attackType1a === "flying") {%>
                                <img src="/images/types/flying-type.png"> 
                        <%}%> 
                    </span>
                    <span class="attack-types">
                        <%if (user.cards[i].attackType1b === "normal") {%>
                                <img src="/images/types/normal.png">
                            <%} else if (user.cards[i].attackType1b === "fighting") {%>
                                <img src="/images/types/combat.png">
                            <%} else if (user.cards[i].attackType1b === "steel") {%>
                                <img src="/images/types/metal.png">
                            <%} else if (user.cards[i].attackType1b === "fire") {%>
                                <img src="/images/types/fire.png"> 
                            <%} else if (user.cards[i].attackType1b === "ground") {%>
                                <img src="/images/types/ground-type.png"> 
                            <%} else if (user.cards[i].attackType1b === "dragon") {%>
                                <img src="/images/types/dragon-type.png"> 
                            <%} else if (user.cards[i].attackType1b === "water") {%>
                                <img src="/images/types/water.png"> 
                            <%} else if (user.cards[i].attackType1b === "grass") {%>
                                <img src="/images/types/grass-type.png"> 
                            <%}else if (user.cards[i].attackType1b === "poison") {%>
                                <img src="/images/types/poison-type.png"> 
                            <%}else if (user.cards[i].attackType1b === "electric") {%>
                                <img src="/images/types/elektric.png"> 
                            <%}else if (user.cards[i].attackType1b === "psychic") {%>
                                <img src="/images/types/psy.png">
                            <%}else if (user.cards[i].attackType1b === "bug") {%>
                                <img src="/images/types/bug-type.png">
                            <%}else if (user.cards[i].attackType1b === "ice") {%>
                                <img src="/images/types/ice-type.png">  
                            <%}else if (user.cards[i].attackType1b === "rock") {%>
                                <img src="/images/types/rock-type.png">
                            <%}else if (user.cards[i].attackType1b === "dark") {%>
                                <img src="/images/types/dark-type.png">   
                            <%}else if (user.cards[i].attackType1b === "fairy") {%>
                                <img src="/images/types/fairy-type.png"> 
                            <%}else if (user.cards[i].attackType1b === "ghost") {%>
                                <img src="/images/types/ghost-type.png"> 
                            <%}else if (user.cards[i].attackType1b === "flying") {%>
                                <img src="/images/types/flying-type.png"> 
                        <%}%> 
                    </span>
                    <span class="attack-types">
                        <%if (user.cards[i].attackType1c === "normal") {%>
                                <img src="/images/types/normal.png">
                            <%} else if (user.cards[i].attackType1c === "fighting") {%>
                                <img src="/images/types/combat.png">
                            <%} else if (user.cards[i].attackType1c === "steel") {%>
                                <img src="/images/types/metal.png">
                            <%} else if (user.cards[i].attackType1c === "fire") {%>
                                <img src="/images/types/fire.png"> 
                            <%} else if (user.cards[i].attackType1c === "ground") {%>
                                <img src="/images/types/ground-type.png"> 
                            <%} else if (user.cards[i].attackType1c === "dragon") {%>
                                <img src="/images/types/dragon-type.png"> 
                            <%} else if (user.cards[i].attackType1c === "water") {%>
                                <img src="/images/types/water.png"> 
                            <%} else if (user.cards[i].attackType1c === "grass") {%>
                                <img src="/images/types/grass-type.png"> 
                            <%}else if (user.cards[i].attackType1c === "poison") {%>
                                <img src="/images/types/poison-type.png"> 
                            <%}else if (user.cards[i].attackType1c === "electric") {%>
                                <img src="/images/types/elektric.png"> 
                            <%}else if (user.cards[i].attackType1c === "psychic") {%>
                                <img src="/images/types/psy.png">
                            <%}else if (user.cards[i].attackType1c === "bug") {%>
                                <img src="/images/types/bug-type.png">
                            <%}else if (user.cards[i].attackType1c === "ice") {%>
                                <img src="/images/types/ice-type.png">  
                            <%}else if (user.cards[i].attackType1c === "rock") {%>
                                <img src="/images/types/rock-type.png">
                            <%}else if (user.cards[i].attackType1c === "dark") {%>
                                <img src="/images/types/dark-type.png">   
                            <%}else if (user.cards[i].attackType1c === "fairy") {%>
                                <img src="/images/types/fairy-type.png"> 
                            <%}else if (user.cards[i].attackType1c === "ghost") {%>
                                <img src="/images/types/ghost-type.png"> 
                            <%}else if (user.cards[i].attackType1c === "flying") {%>
                                <img src="/images/types/flying-type.png">  
                        <%}%> 
                    </span>
                    <span class="attack-types">
                        <%if (user.cards[i].attackType1d === "normal") {%>
                                <img src="/images/types/normal.png">
                            <%} else if (user.cards[i].attackType1d === "fighting") {%>
                                <img src="/images/types/combat.png">    
                            <%} else if (user.cards[i].attackType1d === "steel") {%>
                                <img src="/images/types/metal.png"> 
                            <%} else if (user.cards[i].attackType1d === "fire") {%>
                                <img src="/images/types/fire.png">  
                            <%} else if (user.cards[i].attackType1d === "ground") {%>
                                <img src="/images/types/ground-type.png">   
                            <%} else if (user.cards[i].attackType1d === "dragon") {%>
                                <img src="/images/types/dragon-type.png">   
                            <%} else if (user.cards[i].attackType1d === "water") {%>
                                <img src="/images/types/water.png">     
                            <%} else if (user.cards[i].attackType1d === "grass") {%>
                                <img src="/images/types/grass-type.png">    
                            <%}else if (user.cards[i].attackType1d === "poison") {%>
                                <img src="/images/types/poison-type.png"> 
                            <%}else if (user.cards[i].attackType1d === "electric") {%>
                                <img src="/images/types/elektric.png">  
                            <%}else if (user.cards[i].attackType1d === "psychic") {%>
                                <img src="/images/types/psy.png">
                            <%}else if (user.cards[i].attackType1d === "bug") {%>
                                <img src="/images/types/bug-type.png">
                            <%}else if (user.cards[i].attackType1d === "ice") {%>
                                <img src="/images/types/ice-type.png">  
                            <%}else if (user.cards[i].attackType1d === "rock") {%>
                                <img src="/images/types/rock-type.png">
                            <%}else if (user.cards[i].attackType1d === "dark") {%>
                                <img src="/images/types/dark-type.png">   
                            <%}else if (user.cards[i].attackType1d === "fairy") {%>
                                <img src="/images/types/fairy-type.png"> 
                            <%}else if (user.cards[i].attackType1d === "ghost") {%>
                                <img src="/images/types/ghost-type.png"> 
                            <%}else if (user.cards[i].attackType1d === "flying") {%>
                                <img src="/images/types/flying-type.png">                                                                                                                                       
                        <%}%> 
                    </span>
            
            </div>
            
            <div class="attack"><%=user.cards[i].attack%></div>
            <div class="damage"><%=user.cards[i].damage%></div>
        </div>
                
                <div class="description"><%=user.cards[i].description%></div>
            

    <div class="attack-box2">
        <div class="attack-container">
            
                    <span class="attack-types">
                        <%if (user.cards[i].attackType2a === "normal") {%>
                                <img src="/images/types/normal.png">
                            <%} else if (user.cards[i].attackType2a === "fighting") {%>
                                <img src="/images/types/combat.png">
                            <%} else if (user.cards[i].attackType2a === "steel") {%>
                                <img src="/images/types/metal.png">
                            <%} else if (user.cards[i].attackType2a === "fire") {%>
                                <img src="/images/types/fire.png"> 
                            <%} else if (user.cards[i].attackType2a === "ground") {%>
                                <img src="/images/types/ground-type.png"> 
                            <%} else if (user.cards[i].attackType2a === "dragon") {%>
                                <img src="/images/types/dragon-type.png"> 
                            <%} else if (user.cards[i].attackType2a === "water") {%>
                                <img src="/images/types/water.png"> 
                            <%} else if (user.cards[i].attackType2a === "grass") {%>
                                <img src="/images/types/grass-type.png"> 
                            <%}else if (user.cards[i].attackType2a === "poison") {%>
                                <img src="/images/types/poison-type.png"> 
                            <%}else if (user.cards[i].attackType2a === "electric") {%>
                                <img src="/images/types/elektric.png"> 
                            <%}else if (user.cards[i].attackType2a === "psychic") {%>
                                <img src="/images/types/psy.png">
                            <%}else if (user.cards[i].attackType2a === "bug") {%>
                                <img src="/images/types/bug-type.png">
                            <%}else if (user.cards[i].attackType2a === "ice") {%>
                                <img src="/images/types/ice-type.png">  
                            <%}else if (user.cards[i].attackType2a === "rock") {%>
                                <img src="/images/types/rock-type.png">
                            <%}else if (user.cards[i].attackType2a === "dark") {%>
                                <img src="/images/types/dark-type.png">   
                            <%}else if (user.cards[i].attackType2a === "fairy") {%>
                                <img src="/images/types/fairy-type.png"> 
                            <%}else if (user.cards[i].attackType2a === "ghost") {%>
                                <img src="/images/types/ghost-type.png"> 
                            <%}else if (user.cards[i].attackType2a === "flying") {%>
                                <img src="/images/types/flying-type.png"> 
                        <%}%> 
                    </span>
                    <span class="attack-types">
                        <%if (user.cards[i].attackType2b === "normal") {%>
                                <img src="/images/types/normal.png">
                            <%} else if (user.cards[i].attackType2b === "fighting") {%>
                                <img src="/images/types/combat.png">
                            <%} else if (user.cards[i].attackType2b === "steel") {%>
                                <img src="/images/types/metal.png">
                            <%} else if (user.cards[i].attackType2b === "fire") {%>
                                <img src="/images/types/fire.png"> 
                            <%} else if (user.cards[i].attackType2b === "ground") {%>
                                <img src="/images/types/ground-type.png"> 
                            <%} else if (user.cards[i].attackType2b === "dragon") {%>
                                <img src="/images/types/dragon-type.png"> 
                            <%} else if (user.cards[i].attackType2b === "water") {%>
                                <img src="/images/types/water.png"> 
                            <%} else if (user.cards[i].attackType2b === "grass") {%>
                                <img src="/images/types/grass-type.png"> 
                            <%}else if (user.cards[i].attackType2b === "poison") {%>
                                <img src="/images/types/poison-type.png"> 
                            <%}else if (user.cards[i].attackType2b === "electric") {%>
                                <img src="/images/types/elektric.png"> 
                            <%}else if (user.cards[i].attackType2b === "psychic") {%>
                                <img src="/images/types/psy.png">
                            <%}else if (user.cards[i].attackType2b === "bug") {%>
                                <img src="/images/types/bug-type.png">
                            <%}else if (user.cards[i].attackType2b === "ice") {%>
                                <img src="/images/types/ice-type.png">  
                            <%}else if (user.cards[i].attackType2b === "rock") {%>
                                <img src="/images/types/rock-type.png">
                            <%}else if (user.cards[i].attackType2b === "dark") {%>
                                <img src="/images/types/dark-type.png">   
                            <%}else if (user.cards[i].attackType2b === "fairy") {%>
                                <img src="/images/types/fairy-type.png"> 
                            <%}else if (user.cards[i].attackType2b === "ghost") {%>
                                <img src="/images/types/ghost-type.png"> 
                            <%}else if (user.cards[i].attackType2b === "flying") {%>
                                <img src="/images/types/flying-type.png"> 
                        <%}%> 
                    </span>
                    <span class="attack-types">
                        <%if (user.cards[i].attackType2c === "normal") {%>
                                <img src="/images/types/normal.png">
                            <%} else if (user.cards[i].attackType2c === "fighting") {%>
                                <img src="/images/types/combat.png">
                            <%} else if (user.cards[i].attackType2c === "steel") {%>
                                <img src="/images/types/metal.png">
                            <%} else if (user.cards[i].attackType2c === "fire") {%>
                                <img src="/images/types/fire.png"> 
                            <%} else if (user.cards[i].attackType2c === "ground") {%>
                                <img src="/images/types/ground-type.png"> 
                            <%} else if (user.cards[i].attackType2c === "dragon") {%>
                                <img src="/images/types/dragon-type.png"> 
                            <%} else if (user.cards[i].attackType2c === "water") {%>
                                <img src="/images/types/water.png"> 
                            <%} else if (user.cards[i].attackType2c === "grass") {%>
                                <img src="/images/types/grass-type.png"> 
                            <%}else if (user.cards[i].attackType2c === "poison") {%>
                                <img src="/images/types/poison-type.png"> 
                            <%}else if (user.cards[i].attackType2c === "electric") {%>
                                <img src="/images/types/elektric.png"> 
                            <%}else if (user.cards[i].attackType2c === "psychic") {%>
                                <img src="/images/types/psy.png">
                            <%}else if (user.cards[i].attackType2c === "bug") {%>
                                <img src="/images/types/bug-type.png">
                            <%}else if (user.cards[i].attackType2c === "ice") {%>
                                <img src="/images/types/ice-type.png">  
                            <%}else if (user.cards[i].attackType2c === "rock") {%>
                                <img src="/images/types/rock-type.png">
                            <%}else if (user.cards[i].attackType2c === "dark") {%>
                                <img src="/images/types/dark-type.png">   
                            <%}else if (user.cards[i].attackType2c === "fairy") {%>
                                <img src="/images/types/fairy-type.png"> 
                            <%}else if (user.cards[i].attackType2c === "ghost") {%>
                                <img src="/images/types/ghost-type.png"> 
                            <%}else if (user.cards[i].attackType2c === "flying") {%>
                                <img src="/images/types/flying-type.png"> 
                        <%}%> 
                    </span>
                    <span class="attack-types">
                        <%if (user.cards[i].attackType2d === "normal") {%>
                                <img src="/images/types/normal.png">
                            <%} else if (user.cards[i].attackType2d === "fighting") {%>
                                <img src="/images/types/combat.png">    
                            <%} else if (user.cards[i].attackType2d === "steel") {%>
                                <img src="/images/types/metal.png"> 
                            <%} else if (user.cards[i].attackType2d === "fire") {%>
                                <img src="/images/types/fire.png">  
                            <%} else if (user.cards[i].attackType2d === "ground") {%>
                                <img src="/images/types/ground-type.png">   
                            <%} else if (user.cards[i].attackType2d === "dragon") {%>
                                <img src="/images/types/dragon-type.png">   
                            <%} else if (user.cards[i].attackType2d === "water") {%>
                                <img src="/images/types/water.png">     
                            <%} else if (user.cards[i].attackType2d === "grass") {%>
                                <img src="/images/types/grass-type.png">    
                            <%}else if (user.cards[i].attackType2d === "poison") {%>
                                <img src="/images/types/poison-type.png"> 
                            <%}else if (user.cards[i].attackType2d === "electric") {%>
                                <img src="/images/types/elektric.png">  
                            <%}else if (user.cards[i].attackType2d === "psychic") {%>
                                <img src="/images/types/psy.png">
                            <%}else if (user.cards[i].attackType2d === "bug") {%>
                                <img src="/images/types/bug-type.png">
                            <%}else if (user.cards[i].attackType2d === "ice") {%>
                                <img src="/images/types/ice-type.png">  
                            <%}else if (user.cards[i].attackType2d === "rock") {%>
                                <img src="/images/types/rock-type.png">
                            <%}else if (user.cards[i].attackType2d === "dark") {%>
                                <img src="/images/types/dark-type.png">   
                            <%}else if (user.cards[i].attackType2d === "fairy") {%>
                                <img src="/images/types/fairy-type.png"> 
                            <%}else if (user.cards[i].attackType2d === "ghost") {%>
                                <img src="/images/types/ghost-type.png"> 
                            <%}else if (user.cards[i].attackType2d === "flying") {%>
                                <img src="/images/types/flying-type.png"> 
                        <%}%> 
                    </span>
            
            </div>
            <div class="attack"><%=user.cards[i].attack2%></div>
            <div class="damage"><%=user.cards[i].damage2%></div>
        </div>
            
                <div class="description"><%=user.cards[i].description2%></div>
            

        <div id="weak-resist-box">
            <div id="weakness">Weakness<br/>
                <small><%=user.cards[i].weakness%></small>
            </div>

            <div id="resistance">Resistance<br/>
                <small><%=user.cards[i].resistance%></small>
            </div>

            <div id="bottom-box"><%=user.cards[i].boxBottom%></div>
            
        </div>
</div>
    </a>

    <%}%>
    
<% } %>