<<<<<<< HEAD
<%- include('../partials/frames/header')%>
<div class="grid-header">   
        <div class="grid-filler"></div>
=======
<%- include('../partials/frames/head')%>

<div class="grid-auth-container">

    <div class="grid-header">   
        <%- include('../partials/frames/header')%>
>>>>>>> master
    </div>
<div class="grid-auth-container">

    

<div class="grid-main">
    <div class="auth-container">

        <section id="login" class="auth">
            <h1 class="pTitle">Login</h1>
            <form action="/auth/login" method="POST" class="login-form">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                    <br />
                <button type="submit">Login</button>
            </form>
                <small><%= verifyMessage %></small>
                <small><%= invalidMessage %></small>
        </section>

        <section id="resgister" class="auth">
            <h5 class="pTitle">Register</h5>
            <form action="/auth/register" method="POST" class="register-form">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                    <br />
                <button type="submit">Register</button>
            </form>
                <small><%= userTakenMessage %></small>
        </section>
    </div>
</div>
</div>

<%- include('../partials/frames/footer')%>
