<%- include('../partials/frames/head')%>
<div id="home-container" class="grid-container">

    <div class="grid-header">
        <%- include('../partials/frames/header')%>
    </div>

    <div class="grid-menu">
        <div class="story">
            <h1 class="p-title">Welcome to PokéGen!</h1>
            <h2>Generate your own Pokémon Cards!!</h2>
            <p> PokéGen was created for the love of Pokémon, Pokémon cards, and the love of creating something hilarious. This is a unique universe where you can become both a Pokémon and the master! <br>
                <br />
                Make as many cards as you like to collect them all, pick your favorites, and share with your friends to see who has the best deck. Will your creation be the best there ever was?!
                <br />
                <br />
             <%if (logged=== undefined){%>
                    In order to create cards, please <button><a href="/auth/login">Login</a> </button> or <button><a href="/auth/login">Register.</a></button> 
                <%}%>
            <br />
            </p>

    </div>
</div>

    <div class="grid-main">
        <%if (cards.length > 0){%> 
            <%-include('../partials/randomCard')%>
        <%} else {%>
            <%-include('../parials/samplecard')%>
        <% } %>
            <div class="modal-button-box">
                <button class="modal-button">
                    <a href="#open-modal">?</a>
                </button>
            </div>
            <div id="open-modal" class="modal-window">
                <div class="modal">
                    <a href="#modal-close" title="Close" class="modal-close">close &times;</a>
                        <div>
                            <h1>The Basics</h1>
                            <p> Generate your PokéGen card by first logging in or registering if you don't have an account. Only a username and password is needed! <br>
                            Create your PokéGen's name, give it health points(HP), choose it's element, add some stats like age or height, and add something to the  bottom of the card. <br>
                            You can give your PokéGen two attacks with a damage value and a details of the attack, and also a weakness and resistance. <br>
                            Finally add a picture to your PokéGen using a direct link URL ending with .jpg or .png and don't forget a story of why this card was generated! After you create your card, go to the edit page to favorite it so it gets displayed in your favorite Hall of Fame! And of course, humor is encouraged through the whole process.</p>
                        </div>
                </div>
            </div>  
    </div>

</div>
<div class="grid-footer">
    <div id="menu">
        <div id="inner-menu">
            <%-include('../partials/minicards')%>
        </div>
    </div>
</div>
<%-include('../partials/frames/footer')%>