<%- include('../partials/header')%>
<div id="home-container" class="grid-container">

    <div class="grid-header">
    <%- include('../partials/head')%>
    </div>

    <div id="home-main" class="grid-pad-menu">
        <div class="story">
        <h1 class="pTitle">Welcome to PokéGen!</h1>
            <h2>Generate your own Pokémon Cards!!</h2>
            <p> PokéGen was created for the love of Pokémon, Pokémon cards, and the love of creating hilarious memes. This is a          unique universe where you can become both a Pokémon and the master! <br>
                <br>
                Make as many cards as you like to collect them all, pick your favorites, and share with your friends to see who has the best deck. Will your creation be the best there ever was?!<br>
                <br>
                <%if (logged=== undefined){%>
                    In order to create cards, please <button><a href="/auth/login">Login</a> </button> or <button><a href="/auth/login">Register.</a></button> <br>
                <%}%>
                
                </p>
        </div>
    </div>
    <div id="feature-card" class="grid-main">

        <%-include('../partials/randomCard')%>
    </div>
    <div id="home-users" class="grid-right">
    
        <h1 id="pTitle">PokéGen Trainers:</h1>
    <div id="user-box" class="home-vert-scroll">
        <%-include(`../partials/userlist`)%>
        <div class="box"></div>

    </div>
        
    </div>

    <div class="grid-footer">
    </div>

</div>
<%-include('../partials/scroll')%>