<%-include('../partials/header')%>
<div id="cards-container" class="grid-container">

    <div class="grid-header">
        <%-include('../partials/head')%>
        <h1>THIS IS AN EDIT PAGE FOR CARDS</h1>
        <h2>THIS STILL NEEDS CURRENT VALUES ADDED<H2>
    </div>

    <div id="cards-main" class="grid-menu">
        <p>THIS IS A WELCOME PARAGRAPH</p>
    </div>

    <div id="feature-card" class="grid-main">
<div class="container">

    <div class="left">
        Name:<br />  
        Image Url:<br />  
        HP: <br />  
        Element Type:<br />  
        Attack:<br />  
        Damage:<br />  
        Attack2:<br />  
        Damage2:<br />  
        Weakness:<br />  
        Resistance:<br />  
    </div>

    <div class="right">
        <form action="/cards/<%=card._id%>?_method=PUT" method="POST">
            <input type="text" name="name" value="<%=card.name%>" /><br/>
            <input type="text" name="url" value="<%=card.url%>" /><br/>
            <input type="text" name="hp" value="<%=card.hp%>" /><br/>
            <select name="type"><br/>
                <option value="<%=card.type%>" select><%=card.type%></option>
                <option value="normal">Normal</option>
                <option value="fighting">Fighting</option>
                <option value="steel">Steel</option>
                <option value="fire">Fire</option>
                <option value="water">Water</option>
                <option value="grass">Grass</option>
                <option value="electric">Electric</option>
                <option value="psychic">Psychic</option>
            </select><br/>
            <input type="text" name="attack" value="<%=card.attack%>" /><br/>
            <input type="text" name="damage" value="<%=card.damage%>" /><br/>
            <input type="text" name="attack2" value="<%=card.attack2%>" /><br/>
            <input type="text" name="damage2" value="<%=card.damage2%>" /><br/>
            <input type="text" name="weakness" value="<%=card.weakness%>" /><br/>
            <input type="text" name="resistance" value="<%=card.resistance%>"/><br/>
            <button type="submit">Edit Card</button>
        </form>
    </div>
</div>
    </div>

    <div id="cards-users" class="grid-right">
        <%-include('../partials/samplecard')%>
    </div>

    <div class="grid-footer">
    </div>

</div>

<%-include('../partials/footer')%>



















