<%- include('../partials/header')%>
<div id="new-container" class="grid-n-container">

    <div class="grid-header">
        <%- include('../partials/head')%>
    </div>


    <div class="grid-menu left-margin">
        <h1>Edit Your PokeGen Card!</h1>
    <form action="/cards/<%=card._id%>?_method=PUT" method="POST">

        <div class="left">
            <section class="left-exp">
                <div class="left-exp-float left-side-exp">Name:</div>
                <input type="text" name="name" maxlength="15" value="<%=card.name%>" />
            </section>

            <section class="left-exp">
                <div class="left-exp-float left-side-exp">Image(url):</div>
                <input type="text" name="url" value="<%=card.url%>" />
            </section>

            <section class="left-exp">
                <div class="left-exp-float left-side-exp">HP:</div>
                <input type="text" name="hp" maxlength="3" value="<%=card.hp%>" />
            </section>

            <section class="left-exp">
                <div class="left-exp-float left-side-exp">Element:</div>     
                    <select name="type">
                        <option value="<%=card.type%>" select><%=card.type%></option>
                        <option value="normal">Normal</option>
                        <option value="fighting">Fighting</option>
                        <option value="steel">Steel</option>
                        <option value="fire">Fire</option>
                        <option value="water">Water</option>
                        <option value="grass">Grass</option>
                        <option value="electric">Electric</option>
                        <option value="psychic">Psychic</option>
                    </select>             
            </section>

            <section class="left-exp">
                <div class="left-exp-float left-side-exp">Stats:</div>
                <input type="text" name="stats" maxlength="36" value="<%=card.stats%>" />
            </section>

            <section class="left-exp">
                <div class="left-exp-float left-side-exp">Story:</div>
                <textarea type="text" name="story" class="story-input" value="<%=card.story%>"><%=card.story%></textarea>
            </section>

            <section class="left-exp">
                <div class="left-exp-float left-side-exp">Favorite:</div>             
                    <input class="check-box" type="checkbox" name="favorite"  
                        <% if(card.favorite === true){%>
                            checked
                        <%}%>               
                    />           
                <br/>
                    <button type="submit">Edit Card</button><button> <a href="/cards/<%=card._id%>">Go back</a> </button>                            
            </section>

        </div>

        <div class="right"> 
            <section class="left-exp">
                <div class="left-exp-float left-side-exp">Attack:</div>
                <input type="text" name="attack" maxlength="15" value="<%=card.attack%>" />
            </section>
            
            <section class="left-exp">
                <div class="left-exp-float left-side-exp">Damage:</div>
                <input type="text" name="damage" maxlength="4" value="<%=card.damage%>" />
            </section>

            <section class="left-exp">
                <div class="left-exp-float left-side-exp">Description:</div>
                <textarea type="text" name="description" maxlength="100" class="description-input" value="<%=card.description%>"><%=card.description%></textarea>
            </section>
            
            <section class="left-exp">
                <div class="left-exp-float left-side-exp">Attack2:</div>
                <input type="text" name="attack2" maxlength="15" value="<%=card.attack2%>" />
            </section>

            <section class="left-exp">
                <div class="left-exp-float left-side-exp">Damage2:</div>
                <input type="text" name="damage2" maxlength="4" value="<%=card.damage2%>" />
            </section>

            <section class="left-exp">
                <div class="left-exp-float left-side-exp">Description2:</div>
                <textarea type="text" name="description2" maxlength="100" class="description-input" value="<%=card.description2%>"><%=card.description2%></textarea>
            </section>
            
            <section class="left-exp">
                <div class="left-exp-float left-side-exp">Weakness:</div>
                <input type="text" name="weakness" maxlength="4" value="<%=card.weakness%>" />
            </section>
            
            <section class="left-exp">
                <div class="left-exp-float left-side-exp">Resistance:</div>
                <input type="text" name="resistance" maxlength="4" value="<%=card.resistance%>" />
            </section>
        </div>
    </form>        
    </div>


    <div id="sample-card" class="grid-main">
    <div id="feature-card">
        <%-include('../partials/card')%>
    </div>
    </div>

    <div id="" class="grid-right">
    </div>

    <div id="" class="grid-footer">
    WOULDNT IT BE COOL TO DO THE SAME THING HERE AS ON THE EDIT PAGE WITH A "PREVIEW" BUTTON THAT SAVES THE CARD AND [0] ON THE PARTIAL??
    
    </div>
</div>
<%-include('../partials/footer')%>

