<%- include('../partials/header')%>

<h1>THIS IS AN EDIT PAGE FOR CARDS</h1>
<h2>THIS STILL NEEDS CURRENT VALUES ADDED<H2>

<div class="container">

    <div class="left">
        Name:<br />  
        Image Url:<br />  
        HP: <br />  
        Element Type:<br />  
        Attack:<br />  
        Damage:<br />  
        Weakness:<br />  
        Resistance:<br />  
    </div>

    <div class="right">
        <form action="/cards<%=card._id%>?_method=PUT" method="POST">
            <input type="text" name="name" value="<%=card.name%>" /><br/>
            <input type="text" name="url" value="<%=card.url%>" />  <small>add a note when hovering to advise on best dimensions</small><br/>
            <input type="text" name="hp" value="<%=card.resistance%>" /><br/>
            <select name="type"><br/>
                <option value="<%=card.type%>"><%=card.name%></option>
                <option value="normal">Normal</option>
                <option value="fighting">Fighting</option>
                <option value="ground">Ground</option>
                <option value="steel">Steel</option>
                <option value="fire">Fire</option>
                <option value="water" select>Water</option>
                <option value="grass">Grass</option>
                <option value="electric">Electric</option>
                <option value="psychic">Psychic</option>
            </select><br/>
            <input type="text" name="attack" value="<%=card.attack%>" /><br/>
            <input type="text" name="damage" value="<%=card.damage%>" /><br/>
            <input type="text" name="weakness" value="<%=card.weakness%>" /><br/>
            <input type="text" name="resistance" value="<%=card.resistance%>"/><br/>
        </form>
    </div>
</div>


<%- include('../partials/footer')%>