<%- include('../partials/header')%>
<h1> THIS IS A SHOW PAGE FOR A CARD</h1>
<h2>Owned By: <a href="/users/<%=user._id%>"><%=user.username%></a>
</h2>
<%- include('../partials/card')%>

<%if (currentUser === verifyUser || admin.admin === true) {%>
    <section>
        <form action="/cards/<%=card._id%>?_method=DELETE" method="POST" >
            <button>DELETE CARD</button>
        </form>
    </section>
    <section>
        <button>
        <a href="/cards/<%=card._id%>/edit">EDIT</a>
        </button>
    </section>
<%}%>


<%- include('../partials/footer')%>