<%- include('../partials/header')%>
<h1> THIS IS A SHOW PAGE FOR A CARD</h1>
<h2>Owned By: <%=user.username%></h2>
<%- include('../partials/card')%>

<section>
    <form method="POST" action="/cards/<%=card._id%>?_method=DELETE">
        <button>DELETE CARD</button>
    </form>
</section>
<%- include('../partials/footer')%>