<%- include('../partials/header')%>
<div id="cards-container" class="grid-container">

    <div class="grid-header">
        <%- include('../partials/head')%>     
    </div>

    <div id="cards-main" class="grid-pad-menu">
        <h1 id="pTitle"> THIS IS A SHOW PAGE FOR A CARD</h1>
        <h1><%=card.name%></h1>
        <h2>Owned By: <%=user.username%></h2>
        <button><a href="/users/<%=user._id%>">See collection</a></button>
    

        <div class="story">
            <%if (card.story){%>
                <h1>The story of <%=card.name%></h1>
                <p><%=card.story%></p>
            <%} else  {%>
            <h1>The story of <%=card.name%></h1>
            <p>Every card has a story, sadly this owner does not have a story for this card. When you make your card be sure to give a story, or else your card’s story won’t be told just like this one.</p>
            <%}%>
        </div>
    
    </div>


    <div id="feature-card" class="grid-main">
        <div class="margin-auto">
            <%- include('../partials/card')%>  

        <div id="show-card-footer" class="edit-delete-buttons">
            <%if (logged) {%>
            <%if(currentUser === verifyUser || admin.admin ===true){%>
            <button type=""><a href="#open-modal">DELETE CARD</a></button>
                <div id="open-modal" class="modal-window"><div>
                <a href="#modal-close" title="Close" class="modal-close">close &times;</a>
                <h1>ARE YOU SURE!?</h1>
                <div>
                <section class="show-card-delete-button">
                    <form action="/cards/<%=card._id%>?_method=DELETE" method="POST" >
                        <button>DELETE CARD</button>
                    </form></div>
                </div>
                </div>
                    </form>
                </section>
                <section class="show-card-edit-button">
                    <button>
                    <a href="/cards/<%=card._id%>/edit">EDIT CARD</a>
                    </button>
                </section>
                <%}%>
            <%}%>
        </div>
                </div> 
    </div>

    <div id="cards-users" class="grid-right">
       

    </div>
   
  
    <div class="grid-footer">
    </div>

</div>





<%- include('../partials/footer')%>









