<%- include('../partials/frames/head')%>
<div class="grid-main-container">

    <div class="grid-header">
        <%- include('../partials/frames/header')%>
    </div>

    <div class="edit-user grid-main">
        <h1 class="p-title">EDIT ACCOUNT INFORMATION</h1>
        <small><%= userTakenMessage %></small><br />

      <form action="/users/<%=user._id%>?_method=PUT" method="POST">
        Username:<input type="text" name="username" value="<%=user.username%>"><br />
        Password: <input type="password" name="password" placeholder=""><br />
        <button id="update" type="submit">update</button>
      </form>
    </div>

</div>
<%- include('../partials/frames/footer')%>


