<%- include('../partials/header')%>
<%- include('../partials/head')%>
<h1>THIS IS AN EDIT PAGE FOR USERS</h1>

<form action="/users/<%=user._id%>?_method=PUT" method="POST">
<input type="text" name="username" value="<%=user.username%>"><br>
<input type="password" name="password" placeholder=""><br>
<button type="submit">update</button> <br>
    
</form>

<%- include('../partials/footer')%>