<%- include('../partials/header')%>

<div id="users-container" class="grid-container">

    <div class="grid-header">
        <%- include('../partials/head')%>
    </div>


    <div id="users-main" class="grid-pad-menu">
        <div class="story">
            <h1 id="pTitle">PokéGen Community</h1><br>
            <h3>The gang is all here! </h3><br>
            <p>What's new in the PokéGen world. Check out the newest members and your old friends as well. Who has got the best new cards, can you come up with anything better </p>
        </div>
    </div>

    <div id="userlist-box" class="grid-main">
        <div id="user-box" class="name-vert-scroll">

            <%- include('../partials/userlist')%>

        </div>
    </div>

    <div class="grid-pad-right">
        <%-include('../partials/randomCard')%>
    </div>

    <div class="grid-footer">
    
    </div>

</div>

<div class="grass-footer2 grass-footer">

</div>

<%- include('../partials/footer')%>
