<%- include('../partials/frames/head')%>

<div class="grid-container">

    <div class="grid-header">
        <%- include('../partials/frames/header')%>
    </div>


    <div class="grid-menu">
    <h1 class="p-title">PokéGen Community</h1>
        <div class="story">


            <h3 class="p-title">The gang is all here! </h3>
            <br/>
            <p>Check out the newest members top of the list, and the veteran trainers at the bottom. 
            See all the trainer's full collection at the bottom of their page, and check out their favorites display. 
            Every trainer has their own collection and their own style! 
            Get inspired to make your own and become a PokéGen master! 
            </p>

            <section class="user-box">
                <% for (let i = users.length-1; i >= 0; i--) {%>
                    
                        <a class="user-font" href="/users/<%=users[i]._id%>"><%= users[i].username%></a>
                    
                <% } %>
                <% for (let b = users.length-1; b >= 0; b--) {%>
                    
                        <a class="user-font" href="/users/<%=users[b]._id%>"><%= users[b].username%></a>
                    
                <% } %>
            </section>

        </div>
                

    </div>

    <div class="grid-main">
        <%if (users.length > 0){%>
        <%-include('../partials/randomCard')%>
        <%}%>
    </div>

</div>


<%- include('../partials/frames/footer')%>
