<%- include('../partials/header')%>

<div id="users-container" class="grid-user-container">


    <div class="grid-header">
        <%- include('../partials/head')%>
        <h1>THIS IS A SHOW PAGE FOR USERS<h1>
    </div>

    <div id="users-main" class="grid-menu">
    
        <h1> <%=user.username %>'s PokeGen Cards<h1>
        
        <%if (logged) {%>
            <%if(currentUser === verifyUser || admin.admin ===true){%>
                <section>    
                <a href="/cards/new"><button>GENERATE CARD</button></a>
                <a href="/users/<%=user._id%>/edit"><button>EDIT USER</button></a>
                </section> 

                <section>
                <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
                </form>
                </section>
            <%}%>
        <%}%>
    </div>
    
    <div id="feature-card" class="grid-right user-vert-scroll">
        <%- include("../partials/userfavs")%>
    </div>

</div>
<div id="user-menu">
    <div id="inner-menu">
        <%-include('../partials/user-minicards')%>
    </div>
</div>
<%-include('../partials/footer')%>















