<%- include('../partials/frames/head')%>
<div class="grid-container">

    <div class="grid-header">
        <%- include('../partials/frames/header')%>
    </div>

    
    <div id="users-main" class="grid-menu">

        <h1 class="p-title">TRAINER'S COLLECTION<h1>
            <div class="story2">
        <h1> <%=user.username %>'s PokéGen Cards</h1>
                <%if (logged) {%>
                <%if(currentUser === verifyUser || admin.admin){%>
                <section>
                    <a href="/users/<%=user._id%>/edit"><button>EDIT ACCOUNT</button></a>
                    <button class="modal-button">
                        <a href="#open-modal">DELETE USER</a>
                    </button>
                    <div id="open-modal" class="modal-window">
                        <div class="modal">
                            <a href="#modal-close" title="Close" class="modal-close">close &times;</a>
                            <h1>ARE YOU SURE?!</h1>
                                <div>
                                    <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
                                        <button type="submit">DELETE ACCOUNT</button>
                                    </form>
                                </div>
                        </div>
                    </div>
                </section>
                <%}%>
                <%}%>
        <section class="user-cards-container">
            <%-include('../partials/user-minicards')%>
        </section>
    </div>
    </div>


    <div class="grid-main">
        <div>
            <div id="feature-frame">
                <div class="user-vert-scroll">
                    <%- include("../partials/userfavs")%>
                </div>       
                <div id="frame-banner"></div>
            </div>
        </div>
    </div>

</div>
<div class="grid-footer">

</div>
<%-include('../partials/frames/footer')%>















