<%- include('../partials/header')%>
<div id="users-container" class="grid-user-container">


    <div class="grid-header">
        <%- include('../partials/head')%>
    </div>

    
    
    
    <div id="users-main" class="grid-pad-menu">
        <h1 id="pTitle">THIS IS A SHOW PAGE FOR USERS<h1>

        <h1> <%=user.username %>'s PokéGen Cards</h1>
        <button><a href="/home">GO TO POKÉCENTER</a></button>
        <%if (logged) {%>
            <%if(currentUser === verifyUser || admin.admin ===true){%>
            <section>    
                    <a href="/cards/new"><button>GENERATE CARD</button></a>
                </section> 
            <%}%>
        <%}%>
    </div>
    <div class="grid-showcard-main">
       
         <%if (logged) {%>
            <%if(currentUser === verifyUser || admin.admin ===true){%>
                <h2>ACCOUNT INFO.</h2>
                <section>
                    <a href="/users/<%=user._id%>/edit"><button>EDIT ACCOUNT</button></a>
                    <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
                        <button type="submit">DELETE ACCOUNT</button>
                    </form>
                </section>
            <%}%>
        <%}%>
    </div>
    


    <div id="feature-card" class="grid-right">

        <div>
        <div id="feature-frame">



            <div class="user-vert-scroll">
                <%- include("../partials/userfavs")%>
            </div>       


            <div id="frame-banner"></div>

        </div>
        </div>

    </div>

</div>
<div id="user-menu">
    <div id="inner-menu">
        <%-include('../partials/user-minicards')%>
    </div>
</div>
<%-include('../partials/footer')%>















