<%- include('../partials/header')%>
<div id="users-container" class="grid-user-container">


    <div class="grid-header">
        <%- include('../partials/head')%>
    </div>

    
    
    
    <div id="users-main" class="grid-pad-menu">
        <h1 class="pTitle">TRAINER'S COLLECTION<h1>

        <h1> <%=user.username %>'s PokéGen Cards</h1>
        <button><a href="/home">GO TO POKÉCENTER</a></button>
        <%if (logged) {%>
            <%if(currentUser === verifyUser || admin.admin){%>
            <section>    
                    <a href="/cards/new"><button>GENERATE CARD</button></a>
                </section> 
            <%}%>
        <%}%>
    </div>
    <div class="grid-showcard-main">
       
         <%if (logged) {%>
            <%if(currentUser === verifyUser || admin.admin){%>
                <h2 class="pTitle">ACCOUNT INFO.</h2>
                <section>
                    <a href="/users/<%=user._id%>/edit"><button>EDIT ACCOUNT</button></a>
                    <button>
                        <a href="#open-modal">DELETE USER</a>
                    </button>
                    <div id="open-modal" class="modal-window">
                        <div>
                            <a href="#modal-close" title="Close" class="modal-close">close &times;</a>
                            <h1>ARE YOU SURE?!</h1>
                                <div>
                                    <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
                                        <button type="submit">DELETE ACCOUNT</button>
                                    </form>
                                </div>
                        </div>
                    </div>
                </section>
            <%}%>
        <%}%>
    </div>
    


    <div id="feature-card" class="grid-right">

        <div>
        <div id="feature-frame">



            <div class="user-vert-scroll">
                <%- include("../partials/userfavs")%>
            </div>       


            <div id="frame-banner"></div>

        </div>
        </div>

    </div>

</div>
<div id="user-menu">
    <div id="inner-menu">
        <%-include('../partials/user-minicards')%>
    </div>
</div>
<%-include('../partials/footer')%>















