<%- include('../partials/header')%>

<h1>THIS IS A SHOW PAGE FOR USERS<h1>


<h1> <%=user.username %>'s PokeGen Cards<h1>

<%- include("../partials/showcard")%>

<%if (currentUser === verifyUser || admin.admin === true) {%>

<section>    
<a href="/cards/new"><button>GENERATE CARD</button></a>
<a href="/users/<%=user._id%>/edit"><button>EDIT USER</button></a>
</section> 


<%}%>






<%- include('../partials/footer')%>
